{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}Gestión incidencias Jorge Dueñas Lerín{% endblock %}

{% block content %}
<h1>Sistema de gestión de incidencias</h1>
<h2>Alta de incidencia</h2>

{% bootstrap_form_errors form %}

<form action="#" method="post" class="form form-incidencias">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' horizontal_label_class='col-md-1'%}

    <div class="mb-3 row">
      <label class="col-md-3 col-form-label" for="id_texto"></label>
      <div class="col-md-9">{% bootstrap_button 'Crear incidencia' %}</div>
    </div>

</form>

{% endblock %}
