{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap5 %}

{% block title %}Gestión incidencias Jorge Dueñas Lerín{% endblock %}

{% block content %}
<h1>Sistema de gestión de incidencias</h1>

<!---
<form class="row g-3" action="/" id="formSeleccionLugar">
  <div class="form-floating">
    <select class="form-select" id="floatingLugar" name="lugar">
      <option value="">Todos</option>
      {% for lugar in lugares %}
         <option value="{{ lugar.id }}"
             {% if lugar.id == lugar_selected.id %}selected="selected"{% endif %}>
             {{lugar.lugar|capfirst}}
         </option>
      {% endfor %}
    </select>
    <label for="floatingLugar">Selecciona aula</label>
  </div>
  <div class="">
    <button type="submit" class="btn btn-primary col">Ver incidencias</button>
  </div>

</form>
--->
{% if filter %}
    <form action="" method="get" class="form form-incidencias">
      <div class="form-floating">
        {% bootstrap_form filter.form layout='horizontal' horizontal_label_class='col-md-1' %}

        <div class="mb-1 row">
          <label class="col-md-1 col-form-label" for="id_texto"></label>
          <div class="col-md-11">
            {% bootstrap_button 'Ver incidencias' %}
            <a type="button" class="btn btn-success" href={% url 'incidencias:nueva-incidencia' %}>
              Nueva incidencia
            </a>
          </div>
        </div>
      </div>
    </form>

{% endif %}

{% render_table table %}
{% endblock %}
