{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %}Gestión incidencias Jorge Dueñas Lerín{% endblock %}

{% block content %}
<h1>Sistema de gestión de incidencias</h1>
<h2>{{ lugar_text }}</h2>

<form class="row g-3" action="/" id="formSeleccionLugar">
  <div class="col-6 form-floating">
    <select class="form-select" id="floatingLugar" name="lugar">
      <option value="">Todos</option>
      {% for lugar in lugares %}
         <option value="{{ lugar.id }}"
             {% if lugar.id == lugar_selected.id %}selected="selected"{% endif %}>
             {{lugar.lugar|capfirst}}
         </option>
      {% endfor %}
    </select>
    <label for="floatingLugar">Selecciona aula</label>
  </div>
  <div class="col-6">
    <button type="submit" class="btn btn-primary col">Ver incidencias</button>
  </div>
</form>

{% render_table object_list %}
{% endblock %}
